body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h5 {
    font-weight: 700;
  }
  
  section img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    font-size: 0.9rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .logo {
    height: 100px; /* ou outro valor menor */
    width: auto;
    transition: filter 0.3s ease;
  }
  