.card {
    background-color: #f8f9fa;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.03);
  }

  /* Estilo geral da barra de navegação */
.navbar {
  background-color: #343a40; /* Cor escura para o fundo */
  padding: 0.5rem 1rem; /* Adiciona espaçamento ao redor */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff; /* Cor do texto da marca */
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-toggler-icon {
  background-color: #ffffff; /* Ícone de toggle branco */
}

/* Estiliza os links de navegação */
.nav-link {
  color: #ffffff !important; /* Cor dos links (branco) */
  font-size: 1.1rem; /* Tamanho da fonte */
  text-transform: uppercase; /* Deixa os links em maiúsculas */
  padding: 0.5rem 1rem; /* Espaçamento interno */
  transition: all 0.3s ease; /* Transição suave */
}

.nav-link:hover,
.nav-link.active {
  background-color: #007bff; /* Cor de fundo ao passar o mouse ou quando ativo */
  color: #ffffff !important; /* Cor do texto ativa */
  border-radius: 5px; /* Bordas arredondadas */
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
      padding: 1rem; /* Aumenta o espaçamento em telas menores */
  }
  
  .navbar-nav {
      text-align: center; /* Alinha os itens centralizados em telas menores */
  }
  
  .nav-link {
      padding: 1rem; /* Aumenta o espaçamento entre os links em telas menores */
  }
}

/* Configuração do menu colapsado em dispositivos pequenos */
.collapse.navbar-collapse {
  background-color: #343a40; /* Cor de fundo do menu colapsado */
  border-top: 1px solid #ffffff; /* Borda superior para o menu colapsado */
}

.navbar-nav .nav-item {
  margin-bottom: 0.5rem; /* Espaçamento entre os itens */
}

.navbar-nav .nav-item:last-child {
  margin-bottom: 0; /* Remove margem do último item */
}

  